# Entorno Virtual
.venv/

# Archivos de configuración de entorno
.env

# Archivos de compilación y cachés
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Archivos de logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos temporales
*.tmp
*.swp
*.swo

# Archivos de seguridad
*.pem
*.key